<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ecommerce</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&amp;display=swap">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container d-flex justify-content-between">
            <ul class="nav nav-tabs" id="authTabs" role="tablist">
                <% if (!username) { %> 
                    <li class="nav-item">
                        <a class="btn btn-light switchhover1" href="/login" style="margin: 20px;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light switchhover1" href="/signup" style="margin: 20px;">Sign-Up</a>
                    </li>
                <% } else { %> <!-- Display "Logout" when logged in -->
                    <li class="nav-item">
                        <a class="btn btn-light switchhover1" href="/logout" style="margin: 20px;">Logout</a>
                    </li>
                <% } %>
            </ul>

            <form class="form-inline ml-auto d-flex align-items-center" action="/search" method="get">
                <input class="form-control" name="name" type="text" placeholder="Name">
                <input class="form-control" name="category" type="text" placeholder="Category">
                <input class="form-control" name="price" type="number" placeholder="Price">
                <button class="btn btn-outline-success ml-2" type="submit">Search</button>
            </form>
       
            <div id="welcomeUser"></div>

            <% console.log('Username:', username); %>
            <% console.log('isAdmin:', isAdmin); %>

            <% if (username && !isAdmin) { %>
            <div class="d-flex align-items-center">
                <a class="btn btn-primary mr-2" role="button" href="/cart">See Cart</a>
            </div>
                <a class="btn btn-primary mr-2" role="button" href="/history">Order history</a>
            <% } %>

                <% if (isAdmin) { %>
                    <a class="btn btn-primary mr-2 admin-button" role="button" href="/orders/admin/history">Users history</a>
                    <a href="/admin/graphs" class="btn btn-success mr-2 admin-button">Graphs</a>
                    <a class="btn btn-primary mr-2 admin-button" role="button" href="/admin/twitter">Twitter Api</a>
                    <a href="/products/create" class="btn btn-success mr-2 admin-button">Create Product</a>
                <% } %>
        </div>
    </nav>

<!-- Product Listing -->
<div class="container">
    <h1 style="margin-bottom: 25px; margin-top: 30px;">Products</h1>
    <div class="row">
        <% if (products.length === 0) { %>
            <p>No products available at this time.</p>
        <% } else { %>
            <% products.forEach(product => { %>
                <div class="col-md-4">
                    <div class="product">
                        <% if (product.imageData) { %>
                            <img src="/images/<%= product.imageData %>" alt="<%= product.name %>">
                        <% } else { %>
                            <img src="/images/default.jpg" alt="<%= product.name %>">
                        <% } %>
                        <h3><%= product.name %></h3>
                        <p><%= product.category %></p>
                        <p>$<%= product.price %></p>

                        <% if (username && !isAdmin) { %>
                            <a href="/add-to-cart/<%= product._id %>" class="btn btn-danger">Add to cart</a>
                        <% } else if (isAdmin) { %>
                            <a href="/products/delete/<%= product._id %>" class="btn btn-danger">Delete</a>
                            <a href="/products/update/<%= product._id %>" class="btn btn-primary">Update</a>
                        <% } else { %>
                            <a href="/login" class="btn btn-danger">Add to cart</a>
                        <% } %>

                        <% if (query && query.addedToCart === product._id.toString()) { %>
                            <p>Product successfully added to cart!</p>
                        <% } %>
                        
                        <% if (typeof usdToIls !== 'undefined') { %>
                            <p>₪<%= (product.price * usdToIls).toFixed(2) %></p>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v1/toolkit.min.js" data-reflow-store="267418190"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script type="text/javascript"></script>

</body>

</html>
